BANKAPP_DB_PASSWORD=change-me
BANKAPP_DB_CONNECTION_STRING=Server=192.168.56.105,1433;Database=BankAppDb;User Id=sa;Password=change-me;TrustServerCertificate=True;
BANKAPP_API_BASE_ADDRESS=http://bankapi:7083/
BANKAPP_SOURCE_DIR=BankApp
