BANKAPP_DB_PASSWORD=change-me
BANKAPP_DB_CONNECTION_STRING=Server=<db-vm-host>,1433;Database=BankAppDb;User Id=sa;Password=change-me;TrustServerCertificate=True;
BANKAPP_WEB_PUBLIC_URL=http://localhost:5000
BANKAPP_WEB_VM_URL=http://192.168.56.104:5000
BANKAPP_API_BASE_ADDRESS=http://bankapi:7083/
BANKAPP_OLLAMA_BASE_ADDRESS=http://host.docker.internal:11434/
BANKAPP_SOURCE_DIR=BankApp
